#map{ data: { me: @participation.color  } }
  = render 'map', territories: @territories
  
  %ul#ownerships
    - @ownerships.each do |ownership|
      %li{ class: ownership.participation.color, data: { ownership: json_for_badge(ownership) } }<
        = ownership.units_count

%p
  Vous êtes le joueur 
  = succeed '.' do
    %strong= t(@participation.color)

%p
  Vous avez jusqu'au
  %strong.deployment_finish_at= l(@game.deployment_finish_at, format: :deployment)
  pour déployer vos
  %strong.units_count= @participation.units_count
  unités. Après cette date, le système déploiera aléatoirement vos unités sur
  vos territoires.
