#map{ data: { me: current_participation.color  } }
  = render 'map', territories: @territories
  
  %ul#badges{ data: { participation: json_for_participation(current_participation) } }
    - @ownerships.each do |ownership|
      = render 'badge', ownership: ownership

%p
  Vous êtes le joueur 
  = succeed '.' do
    %strong= t(current_participation.color)

%p
  Vous avez jusqu'au
  %strong.deployment_finish_at= l(@game.deployment_finish_at, format: :deployment)
  pour déployer vos
  %strong.remaining_units_count= current_participation.units_count
  unités. Après cette date, le système déploiera aléatoirement vos unités sur
  vos territoires.
