.container
  .row
    .span7
      #presentation
        = render 'application/presentation'
        
      %ul#screenshots.media-grid
        %li= link_to image_tag("http://placehold.it/180x130")
        %li= link_to image_tag("http://placehold.it/180x130")
        %li= link_to image_tag("http://placehold.it/180x130")
        %li= link_to image_tag("http://placehold.it/180x130")
        
        
        
    .span8.offset1
      #sign_in
        = render 'users/sign_in_form'
        
      #sign_up
        = render 'users/sign_up_form', user: @user
