%h1 Conquest on Rails

- if current_user
  %p= link_to "Dashboard", dashboard_path
  
- else
  #sign_up
    %h2= t('user.sign_up')
    = render 'users/sign_up_form', user: @user
    
    
  #sign_in{ class: flash[:sign_in_error] && 'error' }
    %h2= t('user.sign_in')
    = render 'users/sign_in_form'
